@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf") format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins-bold;
  src: url("./fonts/Poppins-Bold.ttf") format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins-extralight;
  src: url("./fonts/Poppins-ExtraLight.ttf") format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins-semibold;
  src: url("./fonts/Poppins-SemiBold.ttf") format('opentype');
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
  
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    
  }

  .text-shadow{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  }

  .grid-autofill{
    grid-template-columns:repeat(auto-fill, 327px) ;
  }
}
